<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Prestation {{ id }}</title>
</head>
<body>
<ul>
    {% for presta in presta_liste %}
        <li><a href="{{ presta.url }}">{{ presta.libelle }}</a>
        ({{ presta.tarif }}$ {{ presta.unite }} - id = {{ presta.id }})</li>
    {% endfor %}
    </ul>
</body>
</html>