<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Categorie {{ id }}</title>
</head>
<body>
    <h1>La categorie {{ id }}</h1>
    <h2>{{ libelle }}</h2>
    <h2>{{ description }}</h2>
<h3> <a href="{{ url_prestation }}">Voir les prestations</a></h3>
</body>
</html>