{% extends "gift.main.twig" %}

{% block title %}Prestation {{ id }}{% endblock %}

{% block content %}

   
<ul>
    <h1>Prestation : {{ prestation.libelle }}</h1>
    <h3>Description : {{ prestation.description }}</h3>
    <h3>Tarif : {{ prestation.tarif }}</h3>

    <img src = "../../../shared/img/{{prestation.img}}">
    
</ul>

{% endblock %}
