{% extends "gift.main.twig" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <ul>
    <img src = "../../public/shared/img/gouter.jpg">
    {% for presta in presta_liste %}
        <img src = "../../../shared/img/{{presta['img']}}">
        <a href="{{ presta.url }}">{{ presta.libelle }}</a>
        ({{ presta.tarif }}$ {{ presta.unite }} - id = {{ presta.id }})</li><br>  
    {% endfor %}
    
    </ul>
{% endblock %}
