<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Categorie {{ id }}</title>
</head>
<body>
{%include "squellete/templateMain.html.twig" %}
<h1>Liste des categories</h1>
    {% for categorie in categories %}

    <h2><a href="{{ categorie.id }}">{{ categorie.id }}</a>
</h2>
    <h2>{{ categorie.libelle }}</h2>
    <p>{{ categorie.description }}</p>
    {% endfor %}
</body>
</html>