<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Prestation {{ id }}</title>
</head>
<body>
<img src="{{ prestation.url }}">
<ul>
    <h1>Prestation : {{ prestation.libelle }}</h1>
    <h3>Description : {{ prestation.description }}</h3>
    <h3>Tarif : {{ prestation.tarif }}</h3>
    
</ul>
</body>
</html>